.content_wrapper {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
}

.list a {
  color: white;
  background: #3a2924;
  text-decoration: none;

  margin: 8px 0 8px 8px;
  padding: 8px;
  border: 1px solid #4b3e3a;
  border-radius: 24px;

  transition: 0.4s;
}

.list a:hover {
  background: black;
}
