.main {
  width: 100%;
  min-height: 400px;
  padding: 1rem;

  border: 2px solid darkred;
  border-radius: 24px 0 0 24px;

  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  width: 6px;
}

main::-webkit-scrollbar-thumb {
  background: black;
}
