.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  box-sizing: border-box;

  background: #4b3e3a;
}

.content_wrapper {
  width: 100%;
  max-width: 1200px;
  border-top: 2px solid black;
  padding: 1rem;
  margin-bottom: 2rem;
}
